<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="/services/">Services</a>
            <ul>
                <li><a href="/services/most-requested/">Most Requested</a></li>
                <li><a href="/services/air-conditioner">Air Conditioner</a></li>
                <li><a href="/services/carpentry">Carpentry</a></li>
                <li><a href="/services/electricity">Electricity</a></li>
                <li><a href="/services/gardening">Gardening</a></li>
                <li><a href="/services/home-machines">Home Machines</a></li>
                <li><a href="/services/housekeeping">Housekeeping</a></li>
                <li><a href="/services/interior-design">Interior Design</a></li>
                <li><a href="/services/locks">Locks</a></li>
                <li><a href="/services/painting">Painting</a></li>
                <li><a href="/services/plumbing">Plumbing</a></li>
                <li><a href="/services/water-heaters">Water Heaters</a></li>
            </ul>
        </li>

        {% if user.is_authenticated %}
            {% if user.is_company %}
                <li><a href="/services/create/">Create Service</a></li>
                <li><a href="/company/{{ user.username }}">Profile</a></li>
            {% else %}
                <li><a href="/customer/{{ user.username }}">Profile</a></li>
            {% endif %}
            <li><a href="/logout/">Logout</a></li>
        {% else %}
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
        {% endif %}
    </ul>
</nav>

















